---
import GithubLogo from '@astropub/icons/GitHubLogo'
import TwitterLogo from '@astropub/icons/TwitterLogo'
import MailLogo from '@astropub/icons/EnvelopeClosed'
---

<footer>
  <div class='flex flex-row justify-between text-gray-400'>
      <div>dhruv</div>
      <div class='flex flex-row gap-3'>
          <a href="https://github.com/dhruvdabhi101" target='_blank'><GithubLogo size={20}/></a>
          <a href="https://x.com/dhruvdabhi101" target='_blank'><TwitterLogo size={20}/></a>
          <a href="mailto:dhruvdabhi101@gmail.com" target='_blank'><MailLogo size={20}/></a>
      </div>
  </div>
</footer>
