---
---
  <div class={"w-full flex flex-row justify-center text-[13px] md:text-[15px]" }>
            <div class='flex flex-col justify-center p-5 w-[100%] sm:w-[97%] md:w-[70%] lg:w-[55%] xl:w-[50%]'>
                <a href='/blog' class='text-neutral-300 underline'>
                   &larr; back
                </a>
                <div class="
  prose prose-md prose-invert max-w-full leading-7
  prose-h1:text-2xl prose-h1:text-neutral-300
  prose-h2:text-lg prose-h2:font-bold prose-h2:text-neutral-300
  prose-h3:text-md prose-h4:text-base prose-h5:text-sm prose-h6:text-xs
  prose-a:underline prose-a:text-neutral-200 prose-a:font-thin
  prose-p:text-neutral-300
  prose-ul:text-neutral-300
  prose-ol:text-neutral-300
  prose-blockquote:font-thin prose-blockquote:text-neutral-200
  prose-li:text-neutral-300
  prose-pre:font-thin prose-pre:text-neutral-200 prose-pre:self-center
  prose-hr:font-thin prose-hr:text-neutral-200
  prose-pre:w-full md:prose-pre:w-2/3
">
                    <slot/></div>
            </div>
        </div>
